<!DOCTYPE>
 <html>
  <head>
   <title>Чармандер</title>
    <html lang="ru">
     <meta charset="UTF-8">
  </head>
    <body bgcolor="yellow">
  <p align="center" style="color:#000000; font-size:50px">ПОКЕМОНЫ</p>
  <p align="center" style="color:#000000; font-size:40px">Чармандер</p>
<p align="center" style="color:#000000; font-size:30px">Чармандер (англ. Charmander, яп. ヒトカゲ Hitokage) — стартовый покемон огненного типа из первого поколения покемонов. Один из трёх стартовых покемонов в регионе Канто. Эволюционирует в Чармилиона на 16 уровне. Чармилион эволюционирует в Чаризарда на 36 уровне.</p>
<p align="center" style="color:#000000; font-size:30px">Характеристики:</p>
<p align="center" style="color:#000000; font-size:30px">Рост: 0,6 м</p>
<p align="center" style="color:#000000; font-size:30px">Эволюция в: Чармилеон</p>
<p align="center" style="color:#000000; font-size:30px">Тип: Огненный</p>
<p align="center" style="color:#000000; font-size:30px">Высшая степень эволюции: Чаризард</p>
<p align="center" style="color:#000000; font-size:30px">Вид: Рептилия</p>
<p style="text-align: center;">
  <img scr=<img class="irc_mi" src="https://vignette.wikia.nocookie.net/pokemon/images/9/96/004Charmander_OS_anime.png/revision/latest/top-crop/width/240/height/240?cb=20140603214902" alt="Картинки по запросу xfhvfylth" width="240" height="240" >
</html>
