<!DOCTYPE html>
  <html lang="ru">
   <head>
     <title>Покемоны</title>    
        <meta charset="utf-8">
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           <style type="text/css"> div {width: 315px;margin: 15px;
            padding: 20px;border: 7px solid black; background: #7B68EE}
            </style>
   </head>
     <body background-color="white">
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Дом</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Список покемонов</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Фильмы</a>
      </li>    
    </ul>
  </div>
         </nav>
         <script>
          alert('ВЕДЬМАКУ ЗАПЛАТИТЕ ЧЕКАННОЙ МОНЕТОЙ')
          </script>
                      <br> <p align="center" style="color:#000000; font-size:50px">ПОКЕМОНЫ</p> <br>
       <br> <p align="center" style="color:#000000; font-size:40px">ИНФОРМАЦИЯ О ПОКЕМОНАХ</p> <br>
       <p style="text-align: center; font-size:40px;" ><button onclick="pic">ПИКАЧУ</button></p>     
       
       
       <!-- onclick="location.href='pic.ejs'"; -->
          <p style="text-align: center; font-size:40px"><button>ЧАРМАНДЕР</button></p>
    <p style="text-align: center;">

        <script>
              function pic(){
                alert("Вы уверены, что хотите перейти на следующую странцу")
              }
        </script>

     <img src="https://eventcartel.com/media/news/landscape-1456483171-pokemon2.jpg" width="450" height="225" alt="Картинки по запросу покемоны">
   </p>
   <div>
   <p><b>Ваше имя</b><Br>
    <form>
    <input type="text">
     </form>
   </p>
   </div>
  <div> <p><b>Вам нравятся покемоны?</b>
<form>
<input type="radio" name="answer" value="a1"> Да<Br>
<input type="radio" name="answer" value="a2"> Нет<Br>
<input type="radio" name="answer" value="a3"> Хз что это<Br>
</form>
   </p>
   </div>
   <div>
    <form action="textarea1.php" method="post">
      <p><b>Что здесь происходит?</b></p>
      <p><textarea rows="5" cols="30" name="text"></textarea></p>
      <p><input type="submit" value="Отправить"></p>
    </form>
   </div>
   </body>
   </html>
