<!DOCTYPE>
 <html>
  <head>
   <title>Пикачу</title>
    <html lang="ru">
     <meta charset="UTF-8">
  </head>
    <body bgcolor="orange">
  <p align="center" style="color:#000000; font-size:50px">ПОКЕМОНЫ</p>
  <p align="center" style="color:#000000; font-size:40px">ПИКАЧУ</p>
<p align="center" style="color:#000000; font-size:30px">Пикачу-первый покемон Эша</p>
<p align="center" style="color:#000000; font-size:30px">Покемон-мышь электрического типа, самый узнаваемый покемон, талисман серии, в последние годы ставший иконой японской поп-культуры. Пикачу способен высвобождать электрическую энергию, запасённую у него за щёчками, сила удара сравнима с молнией. Если собирается группа Пикачу, то их совместная энергия может вызвать грозу. Пикачу используют электричество, чтобы поджаривать ягоды и употреблять их в пищу. Этот покемон достаточно своевольный и не любит ограничений, поэтому многие тренеры держат их вне покеболов. Если использовать на Пикачу Камень Молнии, то он превратится в Райчу, свою эволюционную форму.</p>
<p align="center" style="color:#000000; font-size:30px">Характеристики:</p>
<p align="center" style="color:#000000; font-size:30px">Вес: 6 кг</p>
<p align="center" style="color:#000000; font-size:30px">Эволюция из: Пичу</p>
<p align="center" style="color:#000000; font-size:30px">Тип: Электрический</p>
<p align="center" style="color:#000000; font-size:30px">Эволюция в: Райчу</p>
<p align="center" style="color:#000000; font-size:30px">Вид: Мышь</p>
<p style="text-align: center;">
  <img scr=<img class="irc_mi" src="https://vignette.wikia.nocookie.net/anime-characters-fight/images/7/77/Pikachu.png/revision/latest?cb=20181021155144&amp;path-prefix=ru" alt="Картинки по запросу пикачу" width="450" height="443">"
</body>
</html>
